
/* 

color blue-dark - #00002b 
color blue-light - #d2d2ff

*/

body {
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(#d2d2ff, #00002b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main {
    width: 600px;
    border: 3px solid #00002b;
    border-radius: 8px;
    padding: 4px 8px;
}

#title {
    
}

#list {
    border-top: 1px solid #00002b ;
}

h1 {
    text-align: center;
    color: #00002b;
    
}

#input-box {
    display: flex;
    justify-content: space-evenly;
    align-items:end;
    margin: 20px 0;
}

#task-input {
    width: 400px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid;
}

#list-box {
    margin-top: 20px;
    font-size: 1rem;
    border-top: 1px solid #00002b ;
}

button {
    font-size: 1rem;
    padding: 4px 16px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
}

#add-btn {
    width: 135px;
    background-color: rgb(163, 252, 163);
}

#delete-btn {
    background-color: rgb(248, 118, 118);
}

li {
    margin-bottom: 8px;
}
