
/* 

color blue-dark - #00002b 
color blue-light - #d2d2ff

*/

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(#d2d2ff, #00002b);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-size: 1rem;
}

main {
    background-color: whitesmoke;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 3px solid #01015c;
    border-right: 3px solid #01015c;
}

h1 {
    color: #00002b;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 40px 0 20px;
}

p {
    margin: 0;
    font-style: italic;
    width: 500px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

#task-input {
    width: 400px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid;
}

#task-list {
    margin-top: 20px;
}

#checkbox {
    width: 20px;
}

button {
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #00002b;
    background-color: transparent;
}

button:hover {
    font-weight: bold;
    background-color: #d2d2ff;
}

ol li {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: 20px;
}

.container {
    width: 800px;
    margin: 0 auto;
}